@import url("reset.css");
@import url("common.css");
@font-face {
  font-family: "Giants-Inline";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
section {
  margin-bottom: 24rem;
}
section .inner {
  max-width: 1564px;
  width: calc(100% - 40px);
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  section {
    margin-bottom: 12rem;
  }
}

.section-01 {
  height: 634px;
  background: url("../img/sub-bg-01.png") center center/cover no-repeat;
}
.section-01 .inner {
  height: 100%;
}
.section-01 .inner .title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.section-01 .inner .title h4 {
  font-family: "Giants-Inline";
  font-size: 12rem;
  color: #fff;
}
.section-01 .inner .sub_nav {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  font-size: 1.6rem;
}
.section-01 .inner .sub_nav li img {
  display: block;
}
.section-01 .inner .sub_nav li:nth-child(1), .section-01 .inner .sub_nav li:nth-child(3) {
  opacity: 0.5;
}
@media screen and (max-width: 768px) {
  .section-01 .inner .title h4 {
    font-size: 10rem;
  }
}

/* .section-01 end */
.section-02 {
  margin-top: 17rem;
}
.section-02 .inner .big_txt {
  position: relative;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.2);
}
.section-02 .inner .big_txt .b_txt {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  background: linear-gradient(to right, #fff, #fff) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
}
@media screen and (max-width: 1440px) {
  .section-02 .inner .big_txt {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 1240px) {
  .section-02 .inner .big_txt {
    font-size: 3.6rem;
  }
}
@media screen and (max-width: 768px) {
  .section-02 .inner .big_txt {
    font-size: 2.8rem;
  }
}

/* .section-02 end */
.section-03 {
  position: relative;
}
.section-03 video {
  width: 100%;
}
.section-03 .text {
  width: 100%;
  height: 100%;
  background-color: rgba(2, 35, 70, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section-03 .text p {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.4;
}

/* .section-03 end */
.section-04 .inner .title {
  margin-bottom: 6rem;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 14rem;
}
.section-04 .inner .title .left {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.4;
  text-align: none;
}
.section-04 .inner .title .right {
  margin-left: 14rem;
  font-size: 2.8rem;
  line-height: 1.4;
}
.section-04 .inner .item_wrap {
  display: flex;
  justify-content: space-between;
}
.section-04 .inner .item_wrap .item {
  overflow: hidden;
  border-radius: 1.6rem;
  width: 50.8rem;
  height: 50.8rem;
  position: relative;
}
.section-04 .inner .item_wrap .item .image {
  width: 100%;
  height: 100%;
}
.section-04 .inner .item_wrap .item .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-04 .inner .item_wrap .item .text {
  padding: 5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
}
.section-04 .inner .item_wrap .item .text .year {
  font-size: 3.2rem;
  font-weight: 700;
  color: #fff;
}
.section-04 .inner .item_wrap .item .text .txt-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: end;
  font-size: 4rem;
  font-weight: 700;
}
.section-04 .inner .item_wrap .item .text .txt-bottom .audience {
  font-size: 6.4rem;
  font-weight: 700;
}
@media screen and (max-width: 1440px) {
  .section-04 .inner .title {
    justify-content: center;
  }
  .section-04 .inner .title .left {
    text-align: center;
  }
  .section-04 .inner .title .right {
    display: none;
  }
  .section-04 .inner .item_wrap .item {
    width: 40rem;
  }
  .section-04 .inner .item_wrap .item .text .year {
    font-size: 2rem;
  }
  .section-04 .inner .item_wrap .item .text .txt-bottom {
    font-size: 2rem;
  }
  .section-04 .inner .item_wrap .item .text .txt-bottom .audience {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 768px) {
  .section-04 .inner .item_wrap {
    flex-wrap: wrap;
    row-gap: 16px;
  }
  .section-04 .inner .item_wrap .item {
    width: 100%;
  }
  .section-04 .inner .item_wrap .item .text .year {
    font-size: 3.6rem;
  }
  .section-04 .inner .item_wrap .item .text .txt-bottom {
    font-size: 3.6rem;
  }
  .section-04 .inner .item_wrap .item .text .txt-bottom .audience {
    font-size: 4.4rem;
  }
}

/* .section-04 end */
.section-05 .inner .item_wrap {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.section-05 .inner .item_wrap .item {
  overflow: hidden;
  width: 72rem;
  height: 64rem;
  border-radius: 1.6rem;
  position: relative;
}
.section-05 .inner .item_wrap .item .image {
  width: 100%;
  height: 100%;
}
.section-05 .inner .item_wrap .item .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-05 .inner .item_wrap .item .text {
  width: 100%;
  height: 100%;
  background-color: rgba(2, 35, 70, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  row-gap: 16px;
  position: absolute;
  left: 0;
  top: 0;
}
.section-05 .inner .item_wrap .item .text img {
  width: 4rem;
}
.section-05 .inner .item_wrap .item .text span {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.4;
}
.section-05 .inner .item_wrap .item.center {
  width: 40rem;
  height: 40rem;
  border: 30px solid rgba(2, 35, 70, 0.3);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}
.section-05 .inner .item_wrap .item.center .title {
  width: 100%;
  height: 100%;
  background-color: #022346;
}
.section-05 .inner .item_wrap .item.center .title p {
  font-size: 5.2rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 1440px) {
  .section-05 .inner .item_wrap {
    gap: 2rem;
  }
  .section-05 .inner .item_wrap .item.center {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .section-05 .inner .item_wrap {
    flex-wrap: wrap;
  }
  .section-05 .inner .item_wrap .item {
    width: 100%;
  }
}

/* .section-05 end */
.section-06 .inner .title {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 8px;
}
.section-06 .inner .title h5 {
  font-size: 5.2rem;
  font-weight: 700;
}
.section-06 .inner .title p {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.4;
}
.section-06 .inner .text_wrap {
  margin-top: 5rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.section-06 .inner .text_wrap li {
  width: 50rem;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.section-06 .inner .text_wrap li .top {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.4;
}
.section-06 .inner .text_wrap li .bottom {
  font-size: 2.4rem;
  font-weight: 500;
  opacity: 0.5;
}
.section-06 .rolling {
  overflow: hidden;
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
}
.section-06 .rolling img {
  animation: imageLoop 7s linear infinite;
}
@keyframes imageLoop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.section-06 .other_park {
  margin-top: 2rem;
}
.section-06 .other_park .item_wrap {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.section-06 .other_park .item_wrap .title {
  overflow: hidden;
  width: 50.8rem;
  height: 30.3rem;
  border-radius: 1.6rem;
  position: relative;
}
.section-06 .other_park .item_wrap .title .image {
  width: 100%;
  height: 100%;
}
.section-06 .other_park .item_wrap .title .image img {
  width: 100%;
  height: 100%;
}
.section-06 .other_park .item_wrap .title .text {
  width: 100%;
  height: 100%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
}
.section-06 .other_park .item_wrap .title .text p {
  text-align: start;
  font-size: 3.6rem;
  font-weight: 700;
}
.section-06 .other_park .item_wrap .title .text .sub-txt {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.section-06 .other_park .item_wrap .title .text .sub-txt li {
  font-size: 2rem;
}
.section-06 .other_park .item_wrap .title .text .sub-txt li:nth-child(2) {
  width: 1px;
  height: 2rem;
  background-color: #fff;
}
.section-06 .other_park .item_wrap .item {
  position: relative;
}
.section-06 .other_park .item_wrap .item span {
  padding: 5rem;
  background-color: rgba(2, 35, 70, 0.5);
  width: 100%;
  height: 100%;
  font-size: 2.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s;
}
.section-06 .other_park .item_wrap .item:hover span {
  opacity: 1;
}
@media screen and (max-width: 1440px) {
  .section-06 .inner .title p {
    font-size: 2rem;
  }
  .section-06 .inner .text_wrap li .top {
    font-size: 4rem;
  }
  .section-06 .other_park {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .section-06 .inner .title p {
    display: none;
  }
  .section-06 .inner .text_wrap li {
    row-gap: 4px;
  }
  .section-06 .inner .text_wrap li .top {
    font-size: 2.8rem;
  }
  .section-06 .other_park {
    display: block;
  }
  .section-06 .other_park .item_wrap {
    flex-wrap: wrap;
  }
  .section-06 .other_park .item_wrap .title {
    width: 100%;
    height: auto;
    display: block;
  }
  .section-06 .other_park .item_wrap .title .image {
    display: none;
  }
  .section-06 .other_park .item_wrap .title .text {
    padding: 20px 0;
    position: static;
  }
  .section-06 .other_park .item_wrap .title .text p {
    display: block;
    gap: 1rem;
    text-align: center;
  }
  .section-06 .other_park .item_wrap .title .text p br {
    display: none;
  }
  .section-06 .other_park .item_wrap .title .text .sub-txt {
    display: none;
  }
  .section-06 .other_park .item_wrap .item {
    margin-bottom: 20px;
    width: 100%;
  }
  .section-06 .other_park .item_wrap .item .image {
    width: 100%;
  }
  .section-06 .other_park .item_wrap .item .image img {
    width: 100%;
  }
  .section-06 .other_park .item_wrap .item span {
    font-size: 4rem;
    opacity: 1;
  }
}

/* .section-06 end *//*# sourceMappingURL=sub.css.map */