@charset "utf-8";
@import url('reset.css');
@import url('common.css');
@font-face {
    font-family: 'Giants-Inline';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

section {
    margin-bottom: 24rem;
    .inner {
        max-width: 1564px;
        width: calc(100% - 40px);
        margin: 0 auto;
    }
    @media screen and (max-width: 1024px) {
        margin-bottom: 12rem;
        
    }
}


.section-01 {
    height: 634px;
    background: url('../img/sub-bg-01.png') center center / cover no-repeat;
    .inner {
        height: 100%;
        .title {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            h4 {
                font-family: 'Giants-Inline';
                font-size: 12rem;
                color: #fff;
            }
        }
        .sub_nav {
            margin-top: 5rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 8px;
            font-size: 1.6rem;
            li {
                img {
                    display: block;
                }
                &:nth-child(1),
                &:nth-child(3) {
                    opacity: 0.5;
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        .inner {
            .title {
                h4 {
                    font-size: 10rem;
                }
            }
        }
    }
} /* .section-01 end */

.section-02 {
    margin-top: 17rem;
    .inner {
        .big_txt {
            position: relative;
            font-size: 5.2rem;
            font-weight: 700;
            line-height: 1.4;
            color: rgba(255,255,255,.2);
            .b_txt {
                position: relative;
                width: max-content;
                background: linear-gradient(to right, #fff, #fff) no-repeat;
                -webkit-background-clip: text;
                background-clip: text;
                background-size: 0%;
                transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s
            }
        }
    }
    @media screen and (max-width: 1440px) {
        .inner {
            .big_txt {
                font-size: 4.8rem;
            }
        }
    }
    @media screen and (max-width: 1240px) {
        .inner {
            .big_txt {
                font-size: 3.6rem;
            }
        }
    }
    @media screen and (max-width: 768px) {
        .inner {
            .big_txt {
                font-size: 2.8rem;
            }
        }
    }
} /* .section-02 end */

.section-03 {
    position: relative;
    video {
        width: 100%;
    }
    .text {
        width: 100%;
        height: 100%;
        background-color: rgb(2, 35, 70, 0.5);
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        p {
            font-size: 5.2rem;
            font-weight: 700;
            line-height: 1.4;
        }
    }    
} /* .section-03 end */

.section-04 {
    .inner {
        .title {
            margin-bottom: 6rem;
            align-items: flex-end;
            justify-content: flex-start;
            gap: 14rem;
            .left {
                font-size: 5.2rem;
                font-weight: 700;
                line-height: 1.4;
                text-align: none;
            }
            .right {
                margin-left: 14rem;
                font-size: 2.8rem;
                line-height: 1.4;
            }
        }
        .item_wrap {
            display: flex;
            justify-content: space-between;
            .item {
                overflow: hidden;
                border-radius: 1.6rem;
                width: 50.8rem;
                height: 50.8rem;
                position: relative;
                .image {
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .text {
                    padding: 5rem;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: absolute;
                    left: 0;
                    top: 0;
                    .year {
                        font-size: 3.2rem;
                        font-weight: 700;
                        color: #fff;
                    }
                    .txt-bottom {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        justify-content: flex-end;
                        text-align: end;
                        font-size: 4rem;
                        font-weight: 700;
                        .audience {
                            font-size: 6.4rem;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1440px) {
        .inner {
            .title {
                justify-content: center;
                .left {
                    text-align: center;
                }
                .right {
                    display: none;
                }
            }
            .item_wrap {
                .item {
                    width: 40rem;
                    .text {
                        .year {
                            font-size: 2rem;
                        }
                        .txt-bottom {
                            font-size: 2rem;
                            .audience {
                                font-size: 2.8rem;
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        .inner {
            .item_wrap {
                flex-wrap: wrap;
                row-gap: 16px;
                .item {
                    width: 100%;
                    .text {
                        .year {
                            font-size: 3.6rem;
                        }
                        .txt-bottom {
                            font-size: 3.6rem;
                            .audience {
                                font-size: 4.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
} /* .section-04 end */

.section-05 {
    .inner {
        .item_wrap {
            display: flex;
            justify-content: space-between;
            position: relative;
            .item {
                overflow: hidden;
                width: 72rem;
                height: 64rem;
                border-radius: 1.6rem;
                position: relative;
                .image {
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .text {
                    width: 100%;
                    height: 100%;
                    background-color: rgb(2, 35, 70, 0.5);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    row-gap: 16px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    img {
                        width: 4rem;
                    }
                    span {
                        font-size: 2.8rem;
                        font-weight: 500;
                        line-height: 1.4;
                    }
                }
                &.center {
                    width: 40rem;
                    height: 40rem;
                    border: 30px solid rgb(2, 35, 70, 0.3);
                    border-radius: 50%;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 9;
                    .title {
                        width: 100%;
                        height: 100%;
                        background-color: #022346;
                        p {
                            font-size: 5.2rem;
                            font-weight: 700;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1440px) {
        .inner {
            .item_wrap {
                gap: 2rem;
                .item {
                    &.center {
                        display: none;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1024px) {
        .inner {
            .item_wrap {
                flex-wrap: wrap;
                .item {
                    width: 100%;
                }
            }
        }
    }
} /* .section-05 end */

.section-06 {
    .inner {
        .title {
            display: flex;
            flex-direction: column;
            text-align: center;
            row-gap: 8px;
            h5 {
                font-size: 5.2rem;
                font-weight: 700;
            }
            p {
                font-size: 2.8rem;
                font-weight: 500;
                line-height: 1.4;
            }
        }
        .text_wrap {
            margin-top: 5rem;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            li {
                width: 50rem;
                display: flex;
                flex-direction: column;
                row-gap: 8px;
                .top {
                    font-size: 5.2rem;
                    font-weight: 700;
                    line-height: 1.4;
                }
                .bottom {
                    font-size: 2.4rem;
                    font-weight: 500;
                    opacity: 0.5;
                }
            }
        }
    } 
    .rolling {
        overflow: hidden;
        margin-top: 5rem;
        display: flex;
        gap: 2rem;
        img {
            animation: imageLoop 7s linear infinite;
            @keyframes imageLoop {
                0% {
                    transform: translateX(0%);
                }
                100% {
                    transform: translateX(-100%);
                }
            }
        }
    }
    .other_park {
        margin-top: 2rem;
        .item_wrap {
            display: flex;
            justify-content: space-between;
            gap: 2rem;
            .title {
                overflow: hidden;
                width: 50.8rem;
                height: 30.3rem;
                border-radius: 1.6rem;
                position: relative;
                .image {
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .text {
                    width: 100%;
                    height: 100%;
                    padding: 5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: absolute;
                    left: 0;
                    top: 0;
                    p {
                        text-align: start;
                        font-size: 3.6rem;
                        font-weight: 700;
                    }
                    .sub-txt {
                        display: flex;
                        align-items: center;
                        gap: 1.6rem;
                        li {
                            font-size: 2rem;
                            &:nth-child(2) {
                                width: 1px;
                                height: 2rem;
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
            .item {
                position: relative;
                span {
                    padding: 5rem;
                    background-color: rgb(2, 35, 70, 0.5);
                    width: 100%;
                    height: 100%;
                    font-size: 2.8rem;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    left: 0;
                    top: 0;
                    opacity: 0;
                    transition: opacity 0.3s;
                }
                &:hover {
                    span {
                        opacity: 1;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1440px) {
        .inner {
            .title {
                p {
                    font-size: 2rem;
                }
            }
            .text_wrap {
                li {
                    .top {
                        font-size: 4rem;
                    }
                }
            }
        }
        .other_park {
            display: none;
        }
    }
    @media screen and (max-width: 768px) {
        .inner {
            .title {
                p {
                    display: none;
                }
            }
            .text_wrap {
                li {
                    row-gap: 4px;
                    .top {
                        font-size: 2.8rem;
                    }
                }
            }
        }
        .other_park {
            display: block;
            .item_wrap {
                flex-wrap: wrap;
                .title {
                    width: 100%;
                    height: auto;
                    display: block;
                    .image {
                        display: none;
                    }
                    .text{
                        padding: 20px 0;
                        position: static;
                        p {
                            display: block;
                            gap: 1rem;
                            text-align: center;
                            br {
                                display: none;
                            }
                        }
                        .sub-txt {
                            display: none;
                        }
                    }
                }
                .item {
                    margin-bottom: 20px;
                    width: 100%;
                    .image {
                        width: 100%;
                        img {
                            width: 100%;
                        }
                    }
                    span {
                        font-size: 4rem;
                        opacity: 1;
                    }
                }
            }
        }
    }
} /* .section-06 end */